<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid d-flex justify-content-start">
                <a class="navbar-brand" href="#">IoT Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/raw-data">Raw Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/filtered-data">Filtered Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row ">
            <div class="col">
                <div class="d-flex justify-content-start">
                    <p class="ms-3 mt-2">Filter neccessary keys from JSON response and refactor as table</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 coloured">iot devices info</p>
                    <table id="deviceTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>iot_mac</th>
                                <th>sts</th>
                                <th>timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 mt-4 coloured">general machines info</p>
                    <table id="generalMachineTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>iot_mac</th>
                                <th>timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 mt-4 coloured">general machines daily data</p>
                    <table id="generalMachineDailyTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>iot_mac</th>
                                <th>type</th>
                                <th>data</th>
                                <th>uid</th>
                                <th>current_output_count</th>
                                <th>current_defect_count</th>
                                <th>timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 mt-4 coloured">computer sewing machines info</p>
                    <table id="comSewMachineTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>iot_mac</th>
                                <th>timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 mt-4 coloured">computer sewing machines daily data</p>
                    <table id="comSewMachineDailyTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>iot_mac</th>
                                <th>type</th>
                                <th>data</th>
                                <th>current_output_count</th>
                                <th>current_defect_count</th>
                                <th>timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <p class="mb-4 mt-4 coloured">workers info</p>
                    <table id="workerTable" class="display mb-4 border border-2 border-info" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>uid</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="javascripts/filtered-data.js"></script>
</body>

</html>