<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="10">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div class="container-fluid text-center">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IoT Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/raw-data">Raw Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/filtered-data">Filtered Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row ">
            <div class="col d-flex justify-content-start">
                <p class="m-3">Auto refresh every 10 secs</p>
                <p class="m-3">Server start scanning on #{serverScanningStartingTimestamp} today</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">IoT Device Info</h4>
                        <h5 class="card-text">Current Detected Devices: <h5 class="card-text coloured">
                                #{deviceCount}</h5>
                        </h5>
                        <h5 class="card-text">Current On Devices: <h5 class="card-text coloured">#{onlineDeviceCount}</h5>
                        </h5>
                        <h5 class="card-text">Current Off Devices: <h5 class="card-text coloured">#{offlineDeviceCount}
                            </h5>
                        </h5>
                        <h5 class="card-text">Current Lost Connection Devices: <h5 class="card-text coloured">
                                #{lostConnDeviceCount}</h5>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">General Sewing Machine Info</h4>
                        <h5 class="card-text">Current Scanned Machines: <h5 class="card-text coloured">
                                #{generalMachineCount}</h5>
                        </h5>
                        <h5 class="card-text">Current Products: <h5 class="card-text coloured">
                                #{generalMachineProductCount}</h5>
                        </h5>
                        <h5 class="card-text">Current Passed QC Outputs/Target: <h5 class="card-text coloured">
                                #{generalMachineOutputCount} / #{generalMachineTarget}</h5>
                        </h5>
                        <h5 class="card-text">Current Defects/Target: <h5 class="card-text coloured">
                                #{generalMachineDefectCount} / #{generalMachineTarget}</h5>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Computer Sewing Machine Info</h4>
                        <h5 class="card-text">Current Scanned Machines: <h5 class="card-text coloured">
                                #{comSewMachineCount}</h5>
                        </h5>
                        <h5 class="card-text">Current Products: <h5 class="card-text coloured">#{comSewMachineProductCount}
                            </h5>
                        </h5>
                        <h5 class="card-text">Current Passed QC Outputs/Target: <h5 class="card-text coloured">
                                #{comSewMachineOutputCount} / #{comSewMachineTarget}</h5>
                        </h5>
                        <h5 class="card-text">Current Defects/Target: <h5 class="card-text coloured">#{comSewMachineDefectCount}
                                / #{comSewMachineTarget}</h5>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Worker Info</h4>
                        <h5 class="card-text">Current Scanned Workers: <h5 class="card-text coloured">#{workerCount}
                            </h5>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Production Performance</h4>
                        <h5 class="card-text">Current Products: <h5 class="card-text coloured">#{totalProducts}</h5>
                        </h5>
                        <h5 class="card-text">Current Passed QC Outputs: <h5 class="card-text coloured">
                                #{totalOutputs}</h5>
                        </h5>
                        <h5 class="card-text">Current Defects: <h5 class="card-text coloured">#{totalDefects}</h5>
                        </h5>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Empty Pannel 1</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>